server:
  port: 8081
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:13306/test?useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&useSSL=false
    username: root
    password: Yy.240812
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  sql:
    init:
      mode: always
  cloud:
    nacos:
      server-addr: localhost:8848
      discovery:
        namespace: 7ad6e43b-63a7-4d80-9da5-451f63fca5cb
        username: nacos
        password: nacos
        group: DEFAULT_GROUP
        enabled: true  # 不启用Nacos注册发现
  # 日志配置
  logging:
    level:
      org.example.authservice: DEBUG
      org.springframework.security: DEBUG
      org.springframework.web: DEBUG

# JWT配置
jwt:
  secret: mySecretKey
  expiration: 86400

# 线程池配置
thread:
  pool:
    core-size: 10
    max-size: 50
    queue-capacity: 100